*, * ::before, *::after {
    box-sizing: border-box;
}

:root {
    --color: rgb(64, 223, 239) , #40DFEF;
    --color: rgb(185, 248, 211) , #B9F8D3;
    --color: rgb(255, 251, 231) , #FFFBE7;
    --color: rgb(231, 142, 169) , #E78EA9;
    --color: #FF6363;
}

body {
    background: linear-gradient(to right, #40DFEF, #B9F8D3, #E78EA9);
}

.App {
    width: 100%;
    height: 100vh;
}


.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;

    grid-template-columns: repeat(4, 3em);
    grid-template-rows: minmax(80px auto) repeat(5, 3em);
}

.calculator-grid button {
    border-radius: 1rem;
    cursor: pointer;
}
;